* {
  margin: 0;
  padding: 0;
}

body {

		font-family: 'Open Sans', sans-serif;
		font-size: 15px;


}

@media screen and (max-width: 650px) {
}


@media screen and (min-width: 650px) {
	
	.title {
		
		text-align: center;
		line-height: 70px;
		display: block;
		padding: 30px 50px;
		position: absolute;
	    left: 50%;
	    transform: translateX(-50%);
	    overflow: hidden;
	    white-space: nowrap;
	    
	    width: 100%;	    

		background: repeating-linear-gradient(
			45deg,
			black,
			black 30px,
			white 30px,
			white 60px /* determines size */
		);

	}
	
	.title h1 {
		
		font-size: 60px;
		color: red;
		mix-blend-mode: difference;
		font-family: 'Miriam Libre', sans-serif;


	
	}
	
	#title-line1 {
		
		background-color: black;		
		display: block;
		border: none;
		height: 2px;		
	}
	
	#title-line2 {
		
		margin-top: 200px;
		background-color: black;		
		display: block;
		border: none;
		height: 2px;		
	}
	
	.items {
		
		font-size: 18px;
		text-align: center;

	}
	
	.items a {
		
		text-decoration: none;
		color: black;
		/*-webkit-text-stroke: 1px aqua;*/
		display: inline-block;
		margin: 30px 20px;


		
	}
	
	.items a:hover {
		
		color: aqua;
		
	}
	
	#title-line3 {
		
		margin-top: 0px;
		background-color: black;		
		display: block;
		border: none;
		height: 2px;		
	}
	
	.about-container {

		background-color: white;		

	}
	
	
	.about {
		
		width: 50%;	
		display: block;
		margin: 0 auto;	
		text-align: center;
		padding-top: 50px;
		padding-bottom: 50px;
		
	}
	
	#title-line5 {
		
		margin-top: 0px;
		background-color: black;		
		display: block;
		border: none;
		height: 2px;		
	}
	
	.lab-cotainer {
		
		background-color: white;
		
	}
	
	.lab {
		
		width: 80%;
		display: block;
		margin: 0 auto;	
		
	}
	
	.lab ul {
		
		
		list-style: none;
		text-align: center;
		padding-top: 30px;
		padding-bottom: 30px;
		
	}
	
	.lab ul li {
		
		display: inline-block;
		margin: 20px;
		
		
	}
		
	#title-line4 {
		
		margin-top: 0px;
		background-color: black;		
		display: block;
		border: none;
		height: 2px;		
	}
	
	
	footer {
		
		height: 100px;
		display: block;
		line-height: 100px;
		margin-left: 50px;
	}
	
}