@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poppins');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-family: 'Poppins', sans-serif;
	text-align: center;
	font-size: 50px;
}

.title-sec {
	margin: 30px auto;
}

#dollar-img {
	display: block;
	margin: 20px auto;
	width: 50%;
}

#start-button {
	display: block;
	margin: 20px auto;
	width: 90px;
	height: 40px;
	background-color: red;
	line-height: 40px;
	box-shadow: 2px 2px 3px #444444

}

#start-button {
	text-align: center;
}
